<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mycf.mapper.user.IUserLoginMapper">

    <select id="userLogin" resultType="UserDo">
        SELECT username,password,nickname,photo,landingTime
        FROM cf_user_info
        WHERE account = #{account}
    </select>

    <resultMap id="AU" type="com.test.mycf.pojo.user.AuthUser">
        <result column="account" property="account" ></result>
        <result column="password" property="password" ></result>
        <result column="role" property="role" ></result>
        <result column="id" property="userDo.id" ></result>
        <result column="photo" property="userDo.photo" ></result>
        <result column="nickname" property="userDo.nickname" ></result>
        <result column="landingTime" property="userDo.landingTime" ></result>
    </resultMap>
    <select id="getAuthUserByAccount" resultMap="AU">
        SELECT u.id id, r.account account, password, r.role role, photo, nickname, landingTime
        FROM
        cf_user_info u JOIN cf_user_role r ON u.account = r.account
        WHERE
        r.STATUS = '1' AND u.STATUS = '1' AND u.account = #{account}
    </select>

    <insert id="userRegister" parameterType="UserDo">
        INSERT INTO cf_user_info (id,photo,account,password,gender,phone,createTime)
        VALUE
        (#{id},#{photo},#{account},#{password},#{gender},#{phone},#{createTime})
    </insert>
</mapper>