<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>管理员</h2>

<form th:action="@{/user/register}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="recipient-photo" class="col-form-label">头像:
            <input type="file" name="file" class="form-control " id="recipient-photo" style="display:none">
            <img id="imageview"  width="50px" height="60px" src="img/phono.jpg" alt="请选择头像" /></label>
    </div>
    <div class="form-group">
        <label for="account" class="col-form-label">账号:</label>
        <input type="text" name="account" class="form-control" id="account">
    </div>
    <div class="form-group">
        <label for="passwd" class="col-form-label">密码:</label>
        <input type="password" name="password" class="form-control" id="passwd">
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="gender" value="男" id="boy" checked > 男
        </label>
        <label>
            <input type="radio" name="gender" value="女" id="girl"> 女
        </label>
    </div>
    <div class="form-group">
        <label for="phone" class="col-form-label">手机号:</label>
        <input type="text" name="phone" class="form-control" id="phone">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>

</body>
<script type="text/javascript">
    $(function() {
        $("#recipient-photo").change(function() {
            var $file = $(this);
            var objUrl = $file[0].files[0];
            //获得一个http格式的url路径:mozilla(firefox)||webkit or chrome
            var windowURL = window.URL || window.webkitURL;
            //createObjectURL创建一个指向该参数对象(图片)的URL
            var dataURL = windowURL.createObjectURL(objUrl);
            $("#imageview").attr("src", dataURL);
        });
    });
</script>
</html>