<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>xx.html</title>
</head>
<body class="text-center">
<strong><span th:text="${session.USER_ACCOUNT+'!'}"></span></strong>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="out">
</form>
<img class="mb-4" src="img/jd.jpg" alt="" width="72" height="72">
<a href="/">登录</a>

<h1>我的第一个标题</h1>
<img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" alt="" width="72" height="72">
<p>我的第一个段落。</p>
<hr>
<div id="app">
    <el-button @click="visible = true">Button</el-button>
    <el-dialog :visible.sync="visible" title="Hello world">
        <p>Try Element</p>
    </el-dialog>
</div>

<div th:fragment="webjars">
<!--    <script src="/webjars/vue/2.5.16/vue.js"></script>-->
<!--    <link rel="stylesheet" href="/webjars/element-ui/2.13.0/lib/theme-chalk/index.css">-->
<!--    <script src="/webjars/element-ui/2.13.0/lib/index.js"></script>-->
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" >
    <script src="/webjars/echarts/4.7.0/echarts.min.js"></script>
</div>

</body>

<script>

</script>
</html>