<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="static/css/login.css" rel="stylesheet">
    <style>
        #login{
            width: 300px;
            height: 400px;
            margin: 0 auto;
            /*background-color: burlywood;*/
        }


    </style>
</head>
<body>

<!--&lt;!&ndash; 为ECharts准备一个具备大小（宽高）的Dom &ndash;&gt;-->
<!--<div id="main" style="width: 300px;height:200px;"></div>-->
<hr>
<div id="login" class="text-center">
    <form class="form-signin" th:action="@{/login}" method="post">
        <img class="mb-4" src="/img/mycf.jpg" alt="" width="72" height="72">
<!--        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
        <br>
        <label for="inputEmail" class="sr-only">Account</label>
        <input name="username" th:value="${session.USER_ACCOUNT}" style="width:300px; text-align: center; "type="text" id="inputEmail" class="form-control " placeholder="Account" required >
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" style="width:300px; text-align: center; " type="password" id="inputPassword" class="form-control " placeholder="Password" required>
        <br>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me" value="true"> Remember me
            </label>
        </div>
        <button class="btn btn-primary" type="submit">登录</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">注册</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020-07-09</p>
    </form>
</div>
<!-- 注册模态框开始-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">欢迎注册MYCF</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:500px; overflow:scroll;">
                <form  action="/user/register" method="post" enctype="multipart/form-data" id="form2">
                    <div class="form-group">
                        <label for="recipient-photo" class="col-form-label">头像:
                        <input type="file" name="file" class="form-control " id="recipient-photo" style="display:none">
                        <img id="imageview"  width="50px" height="60px" src="/img/phono.jpg" alt="请选择头像" /></label>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-form-label">昵称:</label>
                        <input type="text" name="nickname" class="form-control" id="nickname">
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-form-label">姓名:</label>
                        <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="account" class="col-form-label">账号:</label>
                        <input type="text" name="account" class="form-control" id="account">
                    </div>
                    <div class="form-group">
                        <label for="passwd" class="col-form-label">密码:</label>
                        <input type="password" name="password" class="form-control" id="passwd">
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="男" id="boy" checked > 男
                        </label>
                        <label>
                            <input type="radio" name="gender" value="女" id="girl"> 女
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">手机号:</label>
                        <input type="text" name="phone" class="form-control" id="phone">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_register">关闭</button>
                        <button type="submit" class="btn btn-primary" id="register">提交</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- 注册模态框结束-->
<!--消息提示框start-->

<!--消息提示框stop-->
<div th:replace="~{index::webjars}"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    $(function() {
        $("#recipient-photo").change(function() {
            var $file = $(this);
            var objUrl = $file[0].files[0];
            //获得一个http格式的url路径:mozilla(firefox)||webkit or chrome
            var windowURL = window.URL || window.webkitURL;
            //createObjectURL创建一个指向该参数对象(图片)的URL
            var dataURL = windowURL.createObjectURL(objUrl);
            $("#imageview").attr("src", dataURL);
        });

        $("#register").click(function () {
            var targetUrl = $("#form2").attr("action");
            var method = $("#form2").attr("method");
            var data = new FormData($("#form2")[0]);
            $.ajax({
                type:'POST',
                url:targetUrl,
                cache: false,    //上传文件不需缓存
                processData: false, //需设置为false。因为data值是FormData对象，不需要对数据做处理
                contentType: false, //需设置为false。因为是FormData对象，且已经声明了属性enctype="multipart/form-data"
                data:data,
                dataType:'json',
                success:function(data){
                    alert(data.body);
                    window.location.href = "/";
                },
                error:function(data){
                    alert(data.body)
                }
            })
        });
        return false;
    });




    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</html>