<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="static/css/login.css" rel="stylesheet">
    <style>
        #login{
            width: 200px;
            height: 400px;
            margin: 0 auto;
            /*background-color: burlywood;*/
        }
    </style>
</head>
<body>

<!--&lt;!&ndash; 为ECharts准备一个具备大小（宽高）的Dom &ndash;&gt;-->
<!--<div id="main" style="width: 300px;height:200px;"></div>-->
<hr>
<div id="login" class="text-center">
    <form class="form-signin" th:action="@{/login}" method="post">
        <img class="mb-4" src="img/jd.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Account</label>
        <input name="username" style="width:200px; text-align: center; "type="text" id="inputEmail" class="form-control " placeholder="Account" required >
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" style="width:200px; text-align: center; " type="password" id="inputPassword" class="form-control " placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me" value="true"> Remember me
            </label>
        </div>
        <button style="width:200px; text-align: center;" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020-07-09</p>
    </form>
</div>



<div th:replace="~{index::webjars}"></div>
</body>
<script type="text/javascript">

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</html>